<html>
  <head>
    <title><%= project.name %></title>
    <link type="text/css" rel="stylesheet" media="all" href="../lib/<%= project.filename %>.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="<%= project.filename %>_demo.css"/>
  </head>
  <body>
  </body>

  <script type="text/javascript" src="../lib/<%= project.filename %>.js"></script>
  <script type="text/javascript" src="<%= project.filename %>_demo.js"></script>
</html>
